h1 {
    color: #cfd8dc;
    padding: 5px 10px;
    display: block;
    text-transform: capitalize;
    font-size: 42px;
  }
  #current-icon {
    width: 250px;
    max-height: 100%;
    display: block;
    padding: 5px;
  }
  .currentWeather {
    color: #f47757;
    font-size: 185px;
    padding: 10px 15px;
    display: block;
  }
  .currentTemperature,
  .farUnit,
  .celUnit {
    text-decoration: none;
    color: #cfd8dc;
  }
  .farUnit:hover {
    color: #f47757;
    text-decoration: none;
  }
  .celUnit:hover {
    color: #f47757;
    text-decoration: none;
  }
  
  h3 {
    color: #cfd8dc;
    padding: 10px 15px;
    display: block;
    text-transform: capitalize;
  }
  h4 {
    color: #cfd8dc;
    padding: 10px 15px;
    display: block;
  }
  