h1 {
    color: #cfd8dc;
    padding: 5px 10px;
    display: block;
    text-transform: capitalize;
    font-size: 42px;
  }
  #current-icon {
    width: 250px;
    max-height: 100%;
    display: block;
    padding: 5px;
  }
  .currentWeather {
    color: #f47757;
    font-size: 185px;
    padding: 10px 15px;
    display: block;
  }
  .currentTemperature,
  .farUnit,
  .celUnit {
    text-decoration: none;
    color: #cfd8dc;
  }
  .farUnit:hover {
    color: #f47757;
    text-decoration: none;
  }
  .celUnit:hover {
    color: #f47757;
    text-decoration: none;
  }
  
  h3 {
    color: #cfd8dc;
    padding: 10px 15px;
    display: block;
    text-transform: capitalize;
  }
  h4 {
    color: #cfd8dc;
    padding: 10px 15px;
    display: block;
  }
  .button {
    display: inline-block;
    width: 225px;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 7px;
    position: relative;
    left: 50px;
    right: 65px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background-color: #f47757;
    border: 1px solid #f47757;
  }
  .button:hover {
    color: #f47757;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 250ms ease-out;
  }
  input {
    display: block;
    margin: 0px auto;
    width: 550px;
    padding: 10px 15px;
    font-size: 18pt;
    border-radius: 7px;
  }
  hr {
    border: 2.5px solid #fff;
  }
  
  