h4 {
  color: #cfd8dc;
  padding: 10px 15px;
  display: block;
}
.time {
  color: #cfd8dc;
  padding: 10px 15px;
  text-align: center;
}
.temp {
  color: #cfd8dc;
  padding: 5px;
  text-transform: capitalize;
  text-align: center;
}
.condition {
  color: #cfd8dc;
  padding: 5px;
  text-transform: capitalize;
  text-align: center;
  word-spacing: 75px;
}
.newIcon {
  padding: 5px 10px;
}
.upcoming:hover {
  background: #455a64;
  border: 1px solid #455a64;
  transition: 400ms ease-out;
}